
     @font-face {
        font-family: "tribeca";
        src: url("css/fonts/tribeca-webfont.woff");
        src:
        url("css/fonts/tribeca-webfont.woff") format("woff"),
        } 

img {
    display: inline-block;
}

.App-Decor {
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
    font-family: "tribeca";
    margin: 0.5rem;
}  

p {
    margin: 0%;
}

main {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem;
}

.App-logo {
        margin-bottom: -5rem;
        width: 100vw;
        }

.App-Loading {
    display: flex;
   flex-grow: 1;
   margin-top: 10rem;
   margin-left: 32rem;
}
      
#bg {
        position: fixed; 
        top: 0; 
        left: 0; 
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      } 
    
 .App-Main {
     margin: 1rem;
     width:100%;
     display: flex;
     flex-flow: row wrap;
 }

.App-Queries{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(129, 91, 52);
    padding: 1px;
    width: 9rem;
    margin: 1rem;
}

.form-dropdown{
    padding: 6px;
    border-style: double;
    border-width: 3px;
    border-color: chartreuse;
    background-color: darkgreen;
    color: chartreuse;
    font-weight: bold;
    font-size: 70%;
    min-width: 5rem;
    font-family: "tribeca";
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin: 0.5rem;
}

.form-group {
    margin: 0.5rem;
}

.Body-Antboxes {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

 .Body-Description {
    width: 28vw;
    border-radius: 20px;
    background-color: rgb(129, 91, 52);
    font-size: 100%;
    padding: 1rem;
} 

.Body-Description-Text{

}

.Body-Info {
    display: flex;
    flex-direction: column;
    width: 22vw;
    padding: 2px;
    border-radius: 20px;
    font-size: 100%;
    background-color: rgb(129, 91, 52);
}

.Body-Images {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(129, 91, 52);
    margin: 1rem;
}

.Body-Image {
    padding: 1rem;
width: 14rem;
height: 14rem;
}

.Body-Arrows {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.Body-Arrow {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-left:2.6rem;
}

.Body-List {
    padding: 4px 4px;
    font-size: 80%;
    background-color: rgb(129, 91, 52);
    max-width: 4rem;
}

.Body-Random {
    margin-top: 3rem;
    padding: 40px 2px;
    color: chartreuse;
    border-style: double;
    border-color: chartreuse;
    background-color: darkgreen;
    font-size: 70%;
    font-weight: bold;
    font-family: "tribeca";
    border-width: 0.4rem;
}

.Antbox-Image {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
    border-radius: 150px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    box-shadow: rgb(51, 51, 51) 0 2px 2px;
}

.Antbox-ImageMid {
    width: 10rem;
    height: 10rem;
    border-radius: 300px;
    border-style: double;
    border-width: 5px;
    border-color: #000000;
    box-shadow: rgb(51, 51, 51) 0 8px 8px;
} 

input.button {
    border-style: solid;
    border-width: 5px;
    border-color: chartreuse;
    color: chartreuse;
    background-color: darkgreen;
    border-radius: 30px;
    border-style: double;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-family: "tribeca";
    font-size: 100%;
    padding: 20px 20px;
} 

@media screen and (min-width: 1023px){
    .App {
        width: 100vw;
        flex-direction: row
    }
    .App-Main {
        width: 100vw;
    }
    main {
        width:100vw;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 1023px){
    .App-logo {
        top: 0%;
        margin-bottom: -1rem;
        width: 100vw;
        }

    .Body-Description {
        width: 75vw;
        display: none
    }
    .App-Queries, .Body-Antboxes{
        width: 35vw;
        margin:0.5rem;
    }
    .Body-Antboxs {
        display: flex;
        flex-flow: column;
        margin: 0.5rem;
    }
    .Antbox-Image {
        width: 6rem;
        height: 6rem;
    }
    .Antbox-ImageMid {
    width: 8rem;
        height: 8rem;
    }
    .Body-Arrow {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-left: 2rem;
    }
    .Body-Info {
    width: 80vw;
    }
    .Body-Arrows {
    margin: 0.5rem;
        }
}