
    @font-face {
        font-family: "tribeca";
        src: url("css/fonts/tribeca-webfont.woff");
        src:
        url("css/fonts/tribeca-webfont.woff") format("woff"),
        }

.App-logo {
    position: fixed; 
        top: 0;
        left: 0; 
    width: 101%;
    }
    
#bg {
        position: fixed; 
        top: 0; 
        left: 0; 
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }
    
.App-Body {
        top: 45%;
        left: 43%;
    width:fit-content;
    height:100%;
    position: fixed;
    }

.App-Queries{
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    top: 51%;
    left: 36%;
    width: 4.5%;
    background-color: rgb(129, 91, 52);
    display: flex;
    flex-direction: column;
   position: fixed;
   box-shadow: rgb(51, 51, 51) 0 5px 5px;
   font-family: "tribeca";
   font-size: 78%;
}

.App-Loading {
    left: 30%;
    position: fixed;
}

.App-Missing {
    left: 26%;
    position: fixed;
}

.form-dropdown{
    width: 78px;
    padding: 6px 6px;
    border-style: double;
    border-width: 3px;
    border-color: chartreuse;
    background-color: darkgreen;
    color: chartreuse;
    font-weight: bold;
    font-size: 70%;
    font-family: "tribeca";
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin: 3%;
}

.form-group {
    margin: 1%;
    width: fit-content;
}

.Body-Antboxes {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 33%;
    left: 42%;
}

.Body-Antbox {
    margin: 15%;
}

.Body-Description {
    padding: 8px 8px;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    width: 25%;
    top: 37%;
    left: 8.5%;
    position: fixed;
    font-size: 90%;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
    font-family: "tribeca";
}

.Body-Description-Text{
    margin: 2%;
}

.Body-Info {
    padding: 8px 8px;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    width: 15%;
    top: 37%;
    left: 59%;
    position: fixed;
    font-size: 90%;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
    font-family: "tribeca";
}

.Body-Images {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    width: 11%;
    top: 37%;
    left: 76%;
    position: fixed;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
}

.Body-Image {
    margin: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}

.Body-Arrows {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 49.5%;
    left: 52.5%;
}

.Body-Arrow {
margin: 20%;
}

.Body-List {
    padding: 4px 4px;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    position: fixed;
    top: 37%;
    left: 36%;
    font-size: 80%;
    font-family: "tribeca";
}

.Body-Random {
    padding: 30px 2px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    color: chartreuse;
    border-color: chartreuse;
    background-color: darkgreen;
    position: fixed;
    top: 75%;
    left: 35.5%;
    font-size: 80%;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
    font-family: "tribeca";
}

.Antbox-Image {
    max-height:100%;
    max-width: 100%;
    border-radius: 150px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    box-shadow: rgb(51, 51, 51) 0 2px 2px;
    margin: 1%;
}

.Antbox-ImageMid {
    max-height:100%;
    max-width: 100%;
    border-radius: 150px;
    border-style: double;
    border-width: 5px;
    border-color: #000000;
    box-shadow: rgb(51, 51, 51) 0 8px 8px;
    margin: 1%;
}

input.button {
    margin: 2%;
    border-style: solid;
    border-width: 3px;
    border-color: chartreuse;
    color: chartreuse;
    background-color: darkgreen;
    padding: 10% 5%;
    border-radius: 30px;
    text-decoration: none;
    min-width: 80px;
    min-height: 30px;
    font-weight: bold;
    text-align: center;
    font-family: "tribeca";
    font-size: 80%;
}

p{
    margin: 1%;
}


@media screen and (max-width: 1920px){
    .App-Queries{
        left: 36%;
        width: 4.5%;
       font-size: 78%;
    }
    
    .App-Loading {
        left: 30%
    }
    
    .App-Missing {
        left: 26%; 
    }
    
    .Body-Antboxes {
        left: 42%;
    }
    
    .Body-Antbox {
        margin: 25%;
    }
    
    .Body-Description {
        padding: 8px 8px;
        width: 30%;
        left: 4%;
        font-size: 103%;
    }
    
    .Body-Info {
        width: 24%;
        left: 58.5%;
        font-size: 100%;
    }
    
    .Body-Images {
        left: 84.5%;
    }

    .Body-Antboxes {
        left: 42%;
    }
    
    .Body-Arrow {
        margin: 25%;
    }
    
    .Body-List {
        font-size: 90%;
    }
    
    .Body-Random {
        left: 35.5%;
        font-size: 95%;
    }
   
    p{
        margin: 2%;
    }
}

@media screen and (max-width: 1280px){
    .App-Queries{
        left: 34%;
        width:6.6%;
       font-size: 78%;
    }
    
    .App-Loading {
        left: 30%;
        position: fixed;
    }
    
    .App-Missing {
        left: 26%;
        position: fixed;
    }
    
    .Body-Antboxes {
        left: 42%;
    }
    
    .Body-Antbox {
        margin: 10%;
    }
    
    .Body-Description {
        width: 28%;
        left: 3%;
        font-size: 78%;
    }
    
    .Body-Description-Text{
        margin: 1%;
    }
    
    .Body-Info {
        width: 18%;
        left: 61.5%;
        font-size: 72%;
    }
    
    .Body-Images {
        width: 15%;
        left: 82%;
    }
    
    .Body-Image {
        margin: 2%;
        border-style: solid;
        border-width: 2px;
        border-color: #000000;
    }
    
    .Body-Arrows {
        left: 54%;
    }
    
    .Body-Arrow {
        height: 65px;
        width: 65px;
    margin: 20%;
    }
    
    .Body-List {
        left: 34%;
    }
    
    .Body-Random {
        padding: 30px 2px;
        left: 33.5%;
        font-size: 70%;
    }
    p{
        margin: 2%;
    }
}

@media screen and (max-width: 1024px){

    .App-Queries{
        left: 33.5%;
        width: 8%;
       font-size: 78%;
    }
    
    .App-Loading {
        left: 30%;
        position: fixed;
    }
    
    .App-Missing {
        left: 26%;
        position: fixed;
    }
    
    .form-group {
        margin: 1%;
        width: fit-content;
    }
    
    .Body-Antboxes {
        left: 42.5%;
    }
    
    .Body-Antbox {
        margin: 15%;
    }
    
    .Body-Description {
        width: 28%;
        left: 3%;
        font-size: 70%;
    }
    
    .Body-Description-Text{
        margin: 1%;
    }
    
    .Body-Info {
        width: 13%;
        left: 64%;
        font-size: 70%;
    }
    
    .Body-Images {
        width: 16%;
        left: 80%;
        position: fixed;
    }
    
    .Body-Image {
        width: 150px;
        height: 150px;
        margin: 1%;
    }
    
    .Body-Arrows {
        left: 57%;
    }
    
    .Body-Arrow {
        height: 50px;
        width: 50px;
    margin: 20%;
    }
    
    .Body-List {
        left: 34%;
        font-size: 80%;
    }
    
    .Body-Random {
        left: 34%;
        font-size: 70%;
    }
}

@media screen and (max-height: 1080px){
    .App-Queries{
        top: 54.5%;
    }
    .Body-Antboxes {
       top: 33%;
    }
    .Body-Description {
        top: 38%;
    }
    .Body-Info {
        top: 38%;
    }
    .Body-Images {
        top: 38%;
    }
    .Body-Arrows {
        top: 36%;
    }
    .Body-List {
        top: 38%;
    }
    .Body-Random {
        top: 82%;
    } 
}
@media screen and (max-height: 900px){
    .App-Queries{
        top: 58%;
    }
    .Body-Antboxes {
       top: 35%;
    }
    .Body-Description {
        top: 40%;
    }
    .Body-Info {
        top: 40%;
    }
    .Body-Images {
        top: 40%;
    }
    .Body-Arrows {
        top: 56%;
    }
    .Body-List {
        top: 40%;
    }
    .Body-Random {
        top: 86%;
    } 
}
@media screen and (max-height: 768px){
    .App-Queries{
        top: 48%;
    }
    .Body-Antboxes {
       top: 26%;
    }
    .Body-Description {
        top: 28%;
    }
    .Body-Info {
        top: 28%;
    }
    .Body-Images {
        top: 28%;
    }
    .Body-Arrows {
        top: 28%;
    }
    .Body-List {
        top: 28%;
    } 
    .Body-Random {
        top: 79.5%;
    }
    p {
        font-size: 85%;
    }
}

@media screen and (max-height: 720px){
    .App-Queries{
        top: 53%;
    }
    .Body-Antboxes {
       top: 31%;
    }
    .Body-Description {
        top: 34%;
    }
    .Body-Info {
        top: 34%;
    }
    .Body-Images {
        top: 34%;
    }
    .Body-Arrows {
        top: 33%;
    }
    .Body-List {
        top: 34%;
    } 
    .Body-Random {
        top: 86%;
    }
    p {
        font-size: 80%;
    }
}


@media screen and (max-height: 600px){
    .App-Queries{
        top: 59%;
    }
    .Body-Antboxes {
       top: 33%;
    }
    .Body-Description {
        top: 36%;
    }
    .Body-Info {
        top: 36%;
    }
    .Body-Images {
        top: 36%;
    }
    .Body-Arrows {
        top: 35%;
    }
    .Body-List {
        top: 36%;
    } 
    .Body-Random {
        top: 95%;
    }
    p {
        font-size: 80%;
    }
}

@media screen and (max-height: 667px) and (max-width: 375px){
    .App-Queries{
        flex-direction: row;
        top: 71%;
        left: 6%;
        width: fit-content;
    }
    .Body-Antboxes {
       top: 6%;
       left: 55%;
       width: 50%;
       height: 50%;
    }

    .Antbox-Image {
        width: 90px;
        height: 90px;
    }
    
    .Antbox-ImageMid {
        width: 130px;
        height: 130px;
        margin: 1%;
    }

    .Body-Description {
        top: 80.5%;
        width: 92%;
        left: 1%;
        font-size: 40%;
    }
    .Body-Info {
        top: 12%;
        left: 1.5%;
        width: 48%;
        font-size: 50%;
    }
    .Body-Images {
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        top: 52%;
        left: 1%;
    }
    .Body-Image {
        width: 85px;
        height: 85px;
        margin: 2%;
    }
    .Body-Arrows {
        top: 16%;
        left: 53.2%;
    }
    .Body-List {
        top: 36%;
    } 
    .Body-Random {
        top: 0%;
        width: 20%;
        height: 5%;
        display: none;
    }
    p {
        font-size: 80%;
    }
}
