@font-face {
    font-family: "pixelex";
    src: url("css/fonts/pixelex-webfont.ttf");
    src:
    url("css/fonts/pixelex-webfont.woff") format("woff"),
    url("css/fonts/pixelex-webfont.ttf") format("opentype"),
    }

.App-Queries{
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    top: 51%;
    left: 36%;
    width: 4.5%;
    background-color: rgb(129, 91, 52);
    display: flex;
    flex-direction: column;
   position: fixed;
   box-shadow: rgb(51, 51, 51) 0 5px 5px;
   font-family: "pixelex",Arial, sans-serif;
   font-size: 78%;
}

.App-Loading {
    left: 30%;
    position: fixed;
}

.App-Missing {
    left: 26%;
    position: fixed;
}

.form-dropdown{
    width: 78px;
    padding: 6px 6px;
    border-style: double;
    border-width: 3px;
    border-color: chartreuse;
    background-color: darkgreen;
    color: chartreuse;
    font-weight: bold;
    font-size: 70%;
    font-family: "pixelex",Arial, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin: 3%;
}

.form-group {
    margin: 1%;
    width: fit-content;
}

.Body-Antboxes {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 33%;
    left: 42%;
}

.Body-Antbox {
    margin: 15%;
}

.Body-Description {
    padding: 8px 8px;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    width: 25%;
    top: 37%;
    left: 8.5%;
    position: fixed;
    font-size: 90%;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
    font-family: "pixelex",Arial, sans-serif;
}

.Body-Description-Text{
    margin: 2%;
}

.Body-Info {
    padding: 8px 8px;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    width: 15%;
    top: 37%;
    left: 59%;
    position: fixed;
    font-size: 90%;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
    font-family: "pixelex",Arial, sans-serif;
}

.Body-Images {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    width: 11%;
    top: 37%;
    left: 76%;
    position: fixed;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
}

.Body-Image {
    margin: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}

.Body-Arrows {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 49.5%;
    left: 52.5%;
}

.Body-Arrow {
margin: 20%;
}

.Body-List {
    padding: 4px 4px;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    background-color: rgb(129, 91, 52);
    position: fixed;
    top: 37%;
    left: 36%;
    font-size: 80%;
    font-family: "pixelex",Arial, sans-serif;
}

.Body-Random {
    padding: 30px 2px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    color: chartreuse;
    border-color: chartreuse;
    background-color: darkgreen;
    position: fixed;
    top: 75.5%;
    left: 35.5%;
    font-size: 80%;
    box-shadow: rgb(51, 51, 51) 0 5px 5px;
    font-family: "pixelex",Arial, sans-serif;
}

.Antbox-Image {
    max-height:100%;
    max-width: 100%;
    border-radius: 150px;
    border-style: double;
    border-width: 3px;
    border-color: #000000;
    box-shadow: rgb(51, 51, 51) 0 2px 2px;
    margin: 1%;
}

.Antbox-ImageMid {
    max-height:100%;
    max-width: 100%;
    border-radius: 150px;
    border-style: double;
    border-width: 5px;
    border-color: #000000;
    box-shadow: rgb(51, 51, 51) 0 8px 8px;
    margin: 1%;
}

input.button {
    margin: 2%;
    border-style: solid;
    border-width: 3px;
    border-color: chartreuse;
    color: chartreuse;
    background-color: darkgreen;
    padding: 10% 5%;
    border-radius: 30px;
    text-decoration: none;
    min-width: 80px;
    min-height: 30px;
    font-weight: bold;
    text-align: center;
    font-family: "pixelex",Arial, sans-serif;
    font-size: 80%;
}

p{
    margin: 1%;
}